page-login {
  .background{
    background-image: url('../assets/bg.jpg') !important;
    background-repeat: no-repeat;
  }
  .logo{
    background-image: url('../assets/logo.png') !important;
    background-repeat: no-repeat !important;
    height: 5.5em !important;
    background-position: center !important;
  }
  .scroll-content{
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  ion-card.card{
    position: absolute;
    margin-top: 30%;
    box-shadow: none;
    background: rgba(255,255,255,0.35);
    border-radius: 8px;
  }
  .item{
    margin-bottom: 10px;
    background: rgba(255,255,255,0.85);
  }
  .button{
    background-color: rgba(1,51,128,0.78);
    height: 6rem;
    font-size: 20px;
  }
}
