page-resumen {
  ion-card-title{
    text-align: center;
  }
  .icon{
    padding-left: 10px;
  }
  .item{
    font-size: 2rem;
  }
  .note{
    color:black;
    font-size: 1.75rem;;
  }
  .card{
    margin-top: 3rem;
  }

}
