page-rechazo {
  ion-content{
    text-align: center;
  }
  ion-card.card{
    position: absolute;
    margin-top: 7%;
    border-radius: 8px;
    background-color: #D41010;
  }
  .icon{
    font-size: 4em;
  }

}
